.language {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 8px;
    background-color: transparent;
}

.language-btn {
    background-color: transparent;
}

.language-btn:hover {
    cursor: pointer;
}



.language span {
    font-weight: 600;
}

.language.theme-dark,
.language.theme-dark span {
    color: crimson;
    background-color: #22272e;
}