/* Định dạng cho nút dropdown */
.dropbtn {
    background-color: #3498db;
    color: white;
    padding: 12px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Định dạng cho menu xổ xuống khi ẩn */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/* Định dạng cho các mục trong menu xổ xuống */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Định dạng cho các mục khi rê chuột vào */
.dropdown-content a:hover {
    background-color: #3498db;
    color: white;
}

/* Hiển thị menu xổ xuống khi nút được nhấp */
.dropdown:hover .dropdown-content {
    display: block;
}