.row {
  margin: 24px 0 0;
  padding: 0 12px;
  display: flex;
  align-items: center;
}

.row-end {
  justify-content: end;
  gap: 12px;
}

.actions {
  justify-content: space-between;
}

.modal-content label {
  margin-bottom: 2px;
  display: block;
}

.modal-content input,
.modal-content select {
  margin-bottom: 12px;
  padding: 8px 8px;
  width: 100%;
  border-radius: 4px;
}

.modal-content.content-center {
  text-align: center;
}

.modal-footer {
  display: flex;
  justify-content: flex-end;
  background-color: transparent;
}

.modal-footer .footer__action {
  background-color: transparent;
}

.modal-footer .footer__action.footer-around {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 32px;
}


.row.theme-dark {
  background-color: #444956;
}


.theme-dark.modal-content,
.theme-dark.modal-content form,
.theme-dark.modal-content label,
.theme-dark.modal-content b,
.theme-dark.modal-content span {
  color: white;
  background-color: transparent;
}

.dark-mode-toggle {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
  margin-right: 1rem;
}

.toggle-switch {
  width: 45px;
  height: 25px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0 3px;
}

.toggle-switch.on {
  background-color: var(--primary-color);
}

.toggle-switch.off {
  background-color: #ccc;
}

.toggle-switch.on .slider {
  transform: translateX(19px);
}